.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    filter: opacity(0.5);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background-color: white;
    color: black;
    font: inherit;
    z-index: 20;
    overflow: hidden;
    animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }