.welcomePage {
    display: grid;
    grid-template-columns: 25rem 25rem;
    max-width: 50rem;
    height: 40rem;
    max-height: 40rem;
    font-family: 'Oxygen', sans-serif;
    cursor: default;
}

.leftContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(185, 222, 222);
    color: white;
}

.leftContainer > img {
    margin: auto;
    width: 20rem;
    animation: slide-down 1000ms ease-out forwards;
}

.leftContainer > h2 {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    bottom: 10rem;
    margin: 0;
    font-size: 1.8rem;
    color: transparent;
    animation: slide-up 1000ms ease-out forwards;
    animation-delay: 500ms;
}

.leftContainer > p {
    position: absolute;
    bottom: 8rem;
    margin: 0;
    color: transparent;
    animation: slide-up 1000ms ease-out forwards;
    animation-delay: 800ms;
}

.loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginContainer > img {
    position: absolute;
    width: 5rem;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
}

.loginContainer > h2 {
    position: absolute;
    top: 11rem;
    color: rgb(163, 163, 163);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.welcomePage input {
    top: 20rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oxygen', sans-serif;
}

.welcomePage .inputTag {
    position: relative;
    top: 1rem;
    padding-left: 5rem;
    color: rgb(163, 163, 163);
    font-size: 0.8rem;
    font-weight: 200;
}

.welcomePage .button {
    position: relative;
    width: 8rem;
    height: 2.5rem;
    top: 3rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

.loginContainer > a {
    position: absolute;
    top: 30rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    color: rgb(163, 163, 163);
    font-size: 0.7rem;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
}

.signUpContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 3rem;
}

.signUpContainer h2 {
    font-family: 'Dancing Script', cursive;
    position: relative;
    margin-bottom: 1rem;
    color: rgb(163, 163, 163);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.signUpContainer > a {
    position: absolute;
    top: 33.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    color: rgb(163, 163, 163);
    font-size: 0.7rem;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
}

.welcomePage a:hover {
    font-weight: bold;
}

.registeredContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.registeredContainer > img {
    position: absolute;
    width: 5rem;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
}

.registeredContainer > h2 {
    position: absolute;
    top: 19rem;
    color: rgb(163, 163, 163);
    font-size: 1rem;
    font-weight: 400;
}

.registeredContainer > p {
    position: absolute;
    top: 11rem;
    color: rgb(163, 163, 163);
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    font-weight: 400;
}

.registeredContainer > button {
    position: absolute;
    width: 8rem;
    height: 2.5rem;
    top: 30rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      color: white;
    }
}